$font1: 'IM Fell English SC', serif;
$font2: 'Fredericka the Great', cursive;
$beige: #CFCDC4;
$lightblue: #D8E8F2;
$green: #DAF0E7;
$warning: #F2D8ED;
$remove: #EFE6F2;
$total: #55CBE6;
$items: #72F2C5;

html{
  color: $beige;
  background-color: #000;
  font-size: 13px;
}

a:visited{
  color: #000;
}
a{
  padding: 10px;
  display: inline-block;
  color: #000;
  font-family: $font2;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
a:hover{
  border-radius: 10px;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 10;
  border-bottom: 1px solid;
  border-color: $beige;
  padding-bottom: 20px;
}

.container{
  margin: 0;
  padding: 0 10px;
}

nav{
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  i.fa{
    font-size: 2.5rem;
  }
  section:nth-child(2){
    padding-top: 20px;
  }
  #items{
    color: $green;
    padding: 10px;
  }
  #total{
    color: $lightblue;
  }
  #nav-proper{
    a{
      background-color: $lightblue;
    }
    li:nth-child(2){
      margin-left: 10px;
      a{
        background-color: $green;
      }  
    }
  }
  letter-spacing: 3px;
  font-family: $font2;
  li{
    float: left;
  }
  #discounts-redeemed{
    li{
      float: none;
      color: #72F2C5;
    }  
  }
  #threds{
    text-align: center;
    padding-top: 20px;
    h1{
      font-size: 2rem;
      margin-top: 10px;
      color: #fcfcfc;
    }
    img{
      max-width: 30%;
    }
  }
  #discount-form{
    p{
      margin-bottom: 10px;
    }
  }
  #discounts-redeemed{
    li{
      font-family: sans-serif;
      letter-spacing: initial;
    }
  }
  #discount-error{
    color: $warning;
    font-family: sans-serif;
    letter-spacing: initial;
  }
  div#product-cart{
    margin-top: 20px;
  } 
}

section#products,
section#cart{
  margin-top: 500px;
  span{
    padding: 10px;
    p{
      color: $lightblue;
    }
  }  
  h2{
    font-family: $font1;
    font-size: 1.75rem;
    border-bottom: 5px solid;
    border-color: $lightblue;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
  }
  li{
    float:left;
    width: 20%;
  }
  .list{
    font-family: sans-serif;  
    color: $green;
    padding: 20px 0;  
    text-align: left;
    border-bottom: 1px solid;
    border-color: $beige;
  }
  .list > li:first-child{
    padding-right: 15px;
  }
  .headings{
    font-size: 1rem;
    border-bottom: 1px solid;
    border-color: $beige;
  }
  .remove-product{
    background-color: $remove;
  }
  i.fa{
    font-size: 1.5rem;
  }
  .fa-times{
    color: $warning;
  }
  #my-cart{
    li{
      width: 20%;
      display: block;
    }
    .remove-product{  
      display: block;
      float: none;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }  
  }
  .add-product{
    background-color: $green;
  }
  #cart-options{
    li{
      width: 100%;
      display: block;
      float: none;
      margin-bottom: 10px;
      a{
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    }
  } 
}

@media (min-width: 768px) {
  html{
    font-size: 16px;
  }
  section#products,
  section#cart {
    margin-top: 214px;
    padding-top: 20px;
  }
  nav #threds{
    padding-top: 0;
  }
  nav section:nth-child(2){
    padding-top: 0;
  }
  .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }   
}

