<section>  
  <h1>My Cart</h1>
  <ul class="clearfix">
    <li>Product</li>
    <li>Category</li>
    <li>Price</li>
    <li>Quantity</li>
    <li>Removals</li>
  </ul>
  <ul class = "my-cart clearfix" ng-repeat="product in productsInCart();">
    <li class="cart-name">{{product.name}}</li>
    <li class="cart-category">{{product.category}}</li>
    <li class="cart-price">{{product.price | currency:"£"}}</li>
    <li class="cart-quantity">{{product.count}}</li>
    <li><a ng-click="removeProduct(product)">Remove</a></li>
  </ul>
</section>  