<nav>
  <ul class="clearfix">
    <li><a ng-href="#/">Catalogue</a>
      <ul>
        <li class="nav-items">Redeem Discounts
          <form name="discountForm" ng-submit="checkCode(discountCode)"> 
            Code:<input type="text" name="discountCode" ng-model="discountCode" check-code />
            <span ng-show="discountForm.$submitted && isCodeError()">Please submit a valid code.</span>
          <form>   
        </li>
        <li>
          <ul class="clearfix" ng-repeat="discount in discountsRedeemed">
            <li class="discount-item">£{{discount.reduction}} off orders <span ng-if="discount.over">over £{{discount.over}}</span><span ng-if="discount.item"> when you buy a {{discount.item}} item</span></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a ng-href="#/my-cart">View My Cart</a>
      <ul>
        <li class="nav-items" id="nav-items">Items: {{numberInCart();}}</li>
        <li class="nav-items" id="nav-total">Current total: £{{total();}}</li>
      </ul>  
    </li>
  </ul>
</nav>