<!doctype html>
<html class="no-js" lang="" ng-app="cart">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/grid.css">  
    <link rel="stylesheet" href="/css/main.css">
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body ng-controller="CartController">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <ul class="clearfix">
      <li>Name</li>
      <li>Category</li>
      <li>Price</li>
      <li>Stock number</li>
      <li>MyCart</li>
    </ul>

    <ul class="clearfix" ng-repeat="product in products">
      <li>{{product.name}}</li>
      <li>{{product.category}}</li>
      <li>{{product.price | currency:"£"}}</li>
      <li>{{product.stock_quantity}}</li>
      <li>
        <ul class="cart-options">
          <li><a href="#">Add to cart</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </li>
    </ul>


    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/angular_app/app.js"></script>
    <script src="/angular_app/services/jsonService.js"></script>
    <script src="/angular_app/controllers/cart.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
