<!doctype html>
<html class="no-js" lang="" ng-app="cart">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Threds.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/grid.css">  
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC|Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body ng-controller="CartController as cart">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="clearfix" ng-include="'/partials/nav.html'"></header>
    <main class="container" ng-view></main>  

    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/angular_app/app.js"></script>
    <script src="/angular_app/controllers/cart.js"></script>
    <script src="/angular_app/services/displayService.js"></script>
    <script src="/angular_app/services/cartService.js"></script>
    <script src="/angular_app/services/calculatorService.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
